.App {
  font-family: sans-serif;
  text-align: center;
}
.link {
  text-decoration: none;
}
.gamecard {
  border-width: 1px;
  border-style: solid;
  height: 200px;
  width: 150px;
  color: black;
  display: block;
  padding: 10px;
  margin: 10px;
  float: left;
}
.cardDiv {
  display: inline;
}
.image {
  height: 100px;
  width: 100px;
}
