.App {
  font-family: sans-serif;
  text-align: center;
}

.gamecard {
  height: 100px;
  width: 150px;
  color: black;
  display: block;
  padding: 10px;
  margin: 10px;
  float: left;
}
.cardDiv {
  display: inline-block;
}
.image {
  height: 100px;
  width: 100px;
}
.headerButton {
  display: flex;
  margin: 20px;
  color: black;
  text-decoration: none;
  float: left;
}
.searchField {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10%;
  float: right;
}
.input {
  margin-right: 5px;
}
.button {
  margin-left: 5px;
}
.cards {
  display: inline-block;
  float: left;
  margin-top: 50px;
  width: 80%;
}
.game {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}

.gameName,
.gameDesc {
  margin-top: 10px;
  margin-bottom: 10px;
}
